.scroll40 {
  height: 40%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.scroll50 {
  height: 50%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.scroll60 {
  height: 60%;
  overflow-y: scroll;
  overflow-x: scroll;
}